<!-- <ActionBar class="action-bar">
    
</ActionBar> -->

<ScrollView>
    <StackLayout>
        <GridLayout height="300">
            <StackLayout class="top">
                <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="top-img"> </Image>
            </StackLayout>
            <Label class="h2 fas p-10 nav-button" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
            <StackLayout class="section-1">
                <Label text="Frequently Asked Questions" textWrap="true" class="h1 title"></Label>
                <Label text="{{ dateToday | date }}" textWrap="true" class="h2 date"></Label>
            </StackLayout>
        </GridLayout>


        <FlexboxLayout flexDirection="column" class="m-t-10">
            <GridLayout columns="*, 200" (tap)="onTap(0)">
                <Label text="How long it will take to process the submitted proof?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[0]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[0]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[0]">
                <Label text="1 week" textWrap="true" class="h3 ans"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>

            <GridLayout columns="*, 200" (tap)="onTap(1)">
                <Label text="How many email and push notifications will we receive?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[1]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[1]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[1]">
                <Label text="The participants of the task will receive a total of 3 emails, depending on the status of the task." textWrap="true" class="h3 ans"></Label>
                <Label text="The first email will contain if the task has been uploaded. " textWrap="true" class="h3 ans-1"></Label>
                <Label text="After that, another email will be sent if they have submitted their proof of completion." textWrap="true" class="h3 ans-1"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>

        </FlexboxLayout>

    </StackLayout>
</ScrollView>