<!-- <ActionBar class="action-bar">
    
</ActionBar> -->

<ScrollView>
    <StackLayout>
        <GridLayout height="300">
            <StackLayout class="top">
                <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="top-img"> </Image>
            </StackLayout>
            <Label class="h2 fas p-10 nav-button" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
            <StackLayout class="section-1">
                <Label text="Frequently Asked Questions" textWrap="true" class="h1 title"></Label>
                <Label text="{{ dateToday | date }}" textWrap="true" class="h2 date"></Label>
            </StackLayout>
        </GridLayout>


        <FlexboxLayout flexDirection="column" class="m-t-10">
            <GridLayout columns="*, 200" (tap)="onTap(0)">
                <Label text="How long it will take to process the submitted proof?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[0]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[0]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[0]">
                <Label text="• 1 week" textWrap="true" class="h3 ans-1"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>

            <GridLayout columns="*, 200" (tap)="onTap(1)">
                <Label text="How many email and push notifications will we receive?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[1]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[1]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[1]">
                <Label text="The participants of the task will receive a total of 3 emails, namely:." textWrap="true" class="h3 ans"></Label>
                <Label text="• The first email will contain if the task has been uploaded. " textWrap="true" class="h3 ans-1"></Label>
                <Label text="• After that, another email will be sent if they have submitted their proof of completion." textWrap="true" class="h3 ans-1"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>

            <GridLayout columns="*, 200" (tap)="onTap(2)">
                <Label text="How to submit your proof of completion for a specific task?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[2]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[2]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[2]">
                <Label text="• Navigate to the task dashboard. " textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Click on a pending task." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Tap the submit button." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Choose the file required by the organizers." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Click done and wait for its approval." textWrap="true" class="h3 ans-1"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>

            <GridLayout columns="*, 200" (tap)="onTap(3)">
                <Label text="How to edit your profile?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[3]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[3]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[3]">
                <Label text="• Navigate to the 'My Profile' page located in the sidebar. " textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Click on 'Edit my Profile'." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Enter your new name and contact number." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Click 'Update Profile' and wait for changes." textWrap="true" class="h3 ans-1"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>

            <GridLayout columns="*, 200" (tap)="onTap(4)">
                <Label text="How to edit your account password?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[4]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[4]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[4]">
                <Label text="• Navigate to the 'My Profile' page located in the sidebar. " textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Click on 'Change Password'." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Enter your old password." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Enter your new password." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Confirm your new password." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Click 'Update Password' and wait for changes." textWrap="true" class="h3 ans-1"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>

            <GridLayout columns="*, 200" (tap)="onTap(5)">
                <Label text="How to delete your account password?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[5]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[5]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[5]">
                <Label text="• Navigate to the 'My Profile' page located in the sidebar. " textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Click on 'Delete Account'." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Delete your account by clicking 'Delete' when prompted." textWrap="true" class="h3 ans-1"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>

            <GridLayout columns="*, 200" (tap)="onTap(6)">
                <Label text="How to reset your account password?" textWrap="true" class="h3 que" col="0"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf067;" col="2" colSpan="3" *ngIf="!isToggled[6]"></Label>
                <Label class="p-t-10 fas h4 icon" text="&#xf068;" col="2" colSpan="3" *ngIf="isToggled[6]"></Label>
            </GridLayout>
            <StackLayout *ngIf="isToggled[6]">
                <Label text="• In the login page, click on 'Forgot Password'. " textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Enter your email that is associated with your account." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Find the email sent by the application in your inbox." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Click the link stated in the body of the email." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Enter your new password." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Save your changes by clicking 'Save'." textWrap="true" class="h3 ans-1"></Label>
                <Label text="• Go back to the application and login using your new credentials." textWrap="true" class="h3 ans-1"></Label>
            </StackLayout>
            <StackLayout class="hr m-10"> </StackLayout>


        </FlexboxLayout>

    </StackLayout>
</ScrollView>