<!-- <GridLayout>
  <StackLayout class="top">
    <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="top-img"> </Image>
  </StackLayout>
  <Label class="h2 fas p-10 nav-button" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>

  <FlexboxLayout flexDirection="column">
    <StackLayout class="m-x-30 p-10 main-content">
      <Label text="Contact Details" textWrap="true" class="p-10 h3 title"></Label>
      <FlexboxLayout class="m-t-10">
        <Label text=" " textWrap="true" class="rectangle"></Label>
        <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
        <Label text="091923456789" textWrap="true" class="p-10 "></Label>
        <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
      </FlexboxLayout>
      <FlexboxLayout class="m-t-10">
        <Label text=" " textWrap="true" class="rectangle"></Label>
        <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
        <Label text="091923456789" textWrap="true" class="p-10 "></Label>
        <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
      </FlexboxLayout>
      <FlexboxLayout class="m-t-10">
        <Label text=" " textWrap="true" class="rectangle"></Label>
        <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
        <Label text="091923456789" textWrap="true" class="p-10 "></Label>
        <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
      </FlexboxLayout>
    </StackLayout>
  </FlexboxLayout>
</GridLayout> -->

<ScrollView>
  <StackLayout>
    <GridLayout>
      <StackLayout class="top">
        <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="top-img"> </Image>
      </StackLayout>
      <Label class="h2 fas p-10 nav-button" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>


    <FlexboxLayout flexDirection="column" class="m-t-10">
      <StackLayout class="m-x-30 p-10 main-content">
        <Label text="Contact Details" textWrap="true" class="p-10 h3 title"></Label>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
          <Label text="091923456789" textWrap="true" class="p-10 "></Label>
          <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
          <Label text="091923456789" textWrap="true" class="p-10 "></Label>
          <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
          <Label text="091923456789" textWrap="true" class="p-10 "></Label>
          <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
      </StackLayout>
    </FlexboxLayout>
  </StackLayout>
</ScrollView>