<!-- <GridLayout>
  <StackLayout class="top">
    <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="top-img"> </Image>
  </StackLayout>
  <Label class="h2 fas p-10 nav-button" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>

  <FlexboxLayout flexDirection="column">
    <StackLayout class="m-x-30 p-10 main-content">
      <Label text="Contact Details" textWrap="true" class="p-10 h3 title"></Label>
      <FlexboxLayout class="m-t-10">
        <Label text=" " textWrap="true" class="rectangle"></Label>
        <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
        <Label text="091923456789" textWrap="true" class="p-10 "></Label>
        <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
      </FlexboxLayout>
      <FlexboxLayout class="m-t-10">
        <Label text=" " textWrap="true" class="rectangle"></Label>
        <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
        <Label text="091923456789" textWrap="true" class="p-10 "></Label>
        <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
      </FlexboxLayout>
      <FlexboxLayout class="m-t-10">
        <Label text=" " textWrap="true" class="rectangle"></Label>
        <Label text="Miguel Aquino" textWrap="true" class="p-10 "></Label>
        <Label text="091923456789" textWrap="true" class="p-10 "></Label>
        <Label text="miguel.aquino.cics@ust.edu.ph" textWrap="true" class="p-10 "></Label>
      </FlexboxLayout>
    </StackLayout>
  </FlexboxLayout>
</GridLayout> -->

<ScrollView>
  <StackLayout>
    <GridLayout height="300">
      <StackLayout class="top">
        <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="top-img"> </Image>
      </StackLayout>
      <Label class="h2 fas p-10 nav-button" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
      <StackLayout class="section-1">
        <Label text="Contact Us" textWrap="true" class="h1 title-1"></Label>
        <Label text="{{ dateToday | date }}" textWrap="true" class="h2 date"></Label>
      </StackLayout>
    </GridLayout>


    <FlexboxLayout flexDirection="column">
      <StackLayout class="m-x-30 m-y-10 p-10 main-content">
        <Label text="Academic Officials (Department Chairs)" textWrap="true" class="p-10 h3 title"></Label>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Asst. Prof. Jose L. Seño, MS (CS)" textWrap="true" class="p-10 "></Label>
          <Label text="jlseno@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Asst. Prof. Arne B. Barcelo, MS (IS)" textWrap="true" class="p-10 "></Label>
          <Label text="abbarcelo@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Asst. Prof. Rochelle Lynn L. Lopez (IT)" textWrap="true" class="p-10 "></Label>
          <Label text="rllopez@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
      </StackLayout>

      <StackLayout class="m-x-30 m-y-10 p-10 main-content">
        <Label text="Office Staff (Dean and College Secretary)" textWrap="true" class="m-t-10 p-10 h3 title"></Label>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Asst. Prof. Jerralyn T. Padua, MSIT" textWrap="true" class="p-10 "></Label>
          <Label text="jlseno@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Asst. Prof. Divinagracia R. Mariano, MBA" textWrap="true" class="p-10 "></Label>
          <Label text="drgarcia@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
      </StackLayout>

      <StackLayout class="m-x-30 m-y-10 p-10 main-content">
        <Label text="Photo Credit" textWrap="true" class="m-t-10 p-10 h3 title"></Label>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="Fr. Dexter A. Austria, O.P" textWrap="true" class="p-10 "></Label>
          <Label text="dexteraustria.op@ust.edu.ph" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
        <FlexboxLayout class="m-t-10">
          <Label text=" " textWrap="true" class="rectangle"></Label>
          <Label text="RQUI Photography" textWrap="true" class="p-10 "></Label>
          <Label text="https://www.flickr.com/people/87738896@N04/" textWrap="true" class="p-10 "></Label>
        </FlexboxLayout>
      </StackLayout>

    </FlexboxLayout>
    
  </StackLayout>
</ScrollView>