.main-content {
  justify-content: center;
  background-color: white;
  vertical-align: middle;
  border-radius: 5;
  margin-top: 50;
  font-family: "Antonio-Regular";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-1 {
  vertical-align: bottom;
}

.title-1,
.date {
  padding-left: 30;
  font-family: "Antonio-Regular";
  color: white;
}

.date {
  font-family: "Antonio-Thin";
}

.rectangle {
  width: 4;
  height: auto;
  background: red;
}

.title {
  background-color: #35414f;
  color: white;
}

.nav-button {
  color: white;
}

.top-img {
  opacity: 0.5;
}

.top {
  background-color: red;
  opacity: 0.9;
}
