.section-1 {
  vertical-align: bottom;
}

.title,
.date,
.que,
.ans {
  padding-left: 30;
  font-family: "Antonio-Regular";
}

.title,
.date {
  color: white;
}

.icon {
  color: white;
  margin-top: 11;
}

.nav-button {
  color: white;
}

.top-img {
  opacity: 0.5;
}

.top {
  background-color: red;
  opacity: 0.9;
}

.task-content {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.task {
    color: white;
}

.task-pending,
.task-late,
.task-approval,
.task-accomplished {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.task-pending {
  background: yellow;
}

.task-pending .task {
  color: black;
}

.task-late {
  background: red;
}

.task-approval {
  background: orange;
}

.task-accomplished {
  background: green;
}

.task-deadline {
  background-color: gray;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.task-deadline,
.task-pending,
.task-late,
.task-approval,
.task-accomplished,
.title-1,
.title-2 {
  font-family: "Antonio-Regular";
}

.task-media {
  width: 200;
  height: 200;
  margin-left: 10;
}

.text-submit,
.text-accomplished {
  justify-content: center;
  vertical-align: bottom;
  color: white;
  font-family: "Antonio-Regular";
}

.text-submit {
  background: red;
}

.text-accomplished {
  background: green;
}

.task-details {
  font-family: "Abel-Regular";
  line-height: 13;
  font-weight: 400;
}

.rectangle-late,
.rectangle-pending,
.rectangle-approval,
.rectangle-accomplished {
  width: 3;
  height: auto;
}

.rectangle-late {
  background: red;
}

.rectangle-pending {
  background: yellow;
}

.rectangle-approval {
  background: orange;
}

.rectangle-accomplished {
  background: green;
}
