<StackLayout class="main-content">
  <FlexboxLayout>
    <Label
      text="&#xf304;"
      textWrap="true"
      class="fas h3 m-t-10 m-r-10 p-10"
    ></Label>
    <Label text="Edit Profile" textWrap="true" class="m-t-10 h2"></Label>
  </FlexboxLayout>
  <Label
    text="Edit your full name and contact number"
    textWrap="true"
    class="m-y-10 placeholder"
  ></Label>
  <Label text="Full Name" textWrap="true" class="h2"></Label>
  <TextField
    hint="Enter full name"
    secure="False"
    [(ngModel)]="_fullName"
  ></TextField>
  <Label text="Contact Number" textWrap="true" class="h2"></Label>
  <TextField
    hint="Enter new contact number"
    secure="False"
    [(ngModel)]="_number"
  ></TextField>
  <Button
    class="btn btn-primary"
    text="Update Profile"
    (tap)="onUpdate()"
    horizontalAlignment="right"
  ></Button>
</StackLayout>
