.main-content {
  background-color: white;
  font-family: "Antonio-Regular";
  height: auto;
  width: auto;
  padding: 30;
}
.validation-error {
  font-size: 9;
  color: red;
  margin-left: 40;

}

/* TextField {
  border-radius: 10;
  border-width: 1;
  padding: 10;
  placeholder-color: gray;
  width: 300;
} */

.placeholder {
  color: gray;
  font-family: "Abel-Regular";
}

.fas {
  border-radius: 100;
  background-color: #f7e98e;
}

.btn {
  width: 100;
  background-color: #35414f;
  color: white;
}

.btn-cancel {
  width: 100;
  background-color: #b7152f;
  color: white;
}
