<!--
<button text="Sign Up" class="btn-registrationButton" (tap)="register()" ></button>

<button text="Log in" class="btn-registrationButton" (tap)="login()" ></button>
a-->


<FlexboxLayout class="page">
    <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="bg-image"></Image>
</FlexboxLayout>

    <FlexboxLayout class="form">
    <StackLayout>
    <Image class="logo" src="~/app/images/logo.png"></Image>
    <Label class="header" text="Proceed with your"></Label>
    <Label class="header-login" text="Login"></Label>


    <StackLayout class="input-field">
        <Label text="Email" class="email-text"></Label>
    <TextField class="input" hint="Enter your email" [(ngModel)]="_email"></TextField>
    <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <StackLayout class="input-field">
        <Label text="Password" class="password-text"></Label>
        <!-- ICONS FOR EMAIL <Label class="fas"  text="&#xf2bd;" ></Label> -->
    <TextField class="input" hint="Enter your password" secure="True" [(ngModel)]="_password"></TextField>
    <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <StackLayout class="input-field">
    <button text="Login" class="btn btn-primary" (tap)="tapLogin()"></button>
    <Label text="Forgot password?" class="login-label" [nsRouterLink]="['/forgot-password']"></Label>
    <Label text = "create account" class="login-label"  [nsRouterLink]="['/register']"></Label>

    </StackLayout>
    </StackLayout>

    </FlexboxLayout>







