/* .Login {

} */
.page {
    background-position: center;
    flex-direction: column;
    background-color: #B7152F;

}
.bg-image {
    opacity: .3;
}
.fas {
    horizontal-align: right;
    margin-right: 35;
    font-size: 17;
}
.form {
    margin-left: 23;
    margin-right: 23;
    margin-top: 25;
    margin-bottom: 25;
    /* margin-bottom: 60; */
    opacity: 1;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

.logo {
    margin-bottom: 12;
    font-weight: bold;
    height: 90;
    margin-right: 230;
    margin-top: 30;


}
.header {
    font-size: 20;
    margin-left: 20;
    font-family: Abel-Regular;

}
.header-login {
    font-size: 40;
    margin-bottom: 60;
    margin-left: 20;
    font-family: Antonio-SemiBold;
}

.email-text {
    margin-left: 35;
    font-family: Abel-Regular;
    font-size: 17;
    margin-bottom: -12;
}
.password-text {
    margin-left: 35;
    font-family: Abel-Regular;
    font-size: 17;
    margin-bottom: -12;

}
.input {
    font-size: 13;
    placeholder-color: #A8A8A8;
    padding-top: 10;
    font-family: Abel-Regular;
    margin-left: 35;
    margin-right: 35;
}

.btn-primary {
    margin: 55 55 15 55;
    background-color: #B7152F;
    font-size: 20;
    color: white;
    font-family: Antonio-Regular;
}
.login-label {
    color: #A8A8A8;
    horizontal-align: center;
    font-family: Abel-Regular;
    padding-bottom: 8;
}


