.validation-error {
  font-size: 9;
  color: red;
  margin-left: 40;

}
.page {
  background-position: center;
  flex-direction: column;
  background-color: #b7152f;
}
.bg-image {
  opacity: 0.3;
}
.login-wrapper {
  padding-bottom: 0;
}
.fas {
  font-size: 17;
  margin-right: 35;
  horizontal-align: right;
  margin-top: 15;
}
.form {
  margin-left: 23;
  margin-right: 23;
  margin-top: 15;
  margin-bottom: 5;
  /* margin-bottom: 60; */
  opacity: 1;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}

.logo {
  margin-bottom: 12;
  font-weight: bold;
  height: 90;
  /* margin-right: 230; */
  margin-top: 30;
  horizontal-align: left;
}

.header {
  font-size: 20;
  margin-left: 20;
  font-family: Abel-Regular;
}
.header-login {
  font-size: 40;
  margin-bottom: 60;
  margin-left: 20;
  font-family: Antonio-SemiBold;
  padding-bottom: 5;
}

.email-text {
  margin-left: 35;
  font-family: Abel-Regular;
  font-size: 17;
  margin-bottom: -12;
}
.password-text {
  margin-left: 35;
  font-family: Abel-Regular;
  font-size: 17;
  margin-bottom: -12;
}
.input {
  font-size: 13;
  placeholder-color: #a8a8a8;
  padding-top: 18;
  font-family: Abel-Regular;
  margin-left: 35;
  margin-right: 35;
}

.btn-primary {
  margin: 55 55 15 55;
  background-color: #b7152f;
  font-size: 20;
  color: white;
  font-family: Antonio-Regular;
}
.btn-primary-disabled {
  margin: 55 55 15 55;
  font-size: 20;
  color: white;
  font-family: Antonio-Regular;
  background-color: #eb4662;
}

.login-label-forgotPass {
  color: #a8a8a8;
  horizontal-align: center;
  font-family: Abel-Regular;
  padding-bottom: -1;
  /* margin-bottom: 45; */
}
.login-label-createAcc {
  color: #a8a8a8;
  horizontal-align: center;
  font-family: Abel-Regular;
  padding-bottom: 20;
  margin-bottom: 10;
  /* margin-bottom: -10;
    padding-top: -5; */
}
.login-error {
  font-size: 12;
  color: red;
  margin-left: 35;
}
.password-error {
  font-size: 12;
  color: red;
  margin-left: 35;
}

.rectangle {
  width: 1;
  height: auto;
  background: #a8a8a8;
}

.cics {
    color: #a8a8a8;
    vertical-align: middle;
    horizontal-align: center;
}

.cics, .cics-label {
    font-family: "Abel-Regular";
}
.cics-label {
    text-transform: uppercase;
}

.logo-btm {
  width: 30;
  height: 30;
}

.cics .rectangle {
  width: 0.5;
  color: gray;
}
