.main-content {
    background-color: white;
    font-family: "Antonio-Regular";
    height: auto;
    width: auto;
    padding: 30;
}



.placeholder {
    color: gray;
    font-family: "Abel-Regular";
}

.fas {
    border-radius: 100;
    background-color: #B7152F;
    color: white;
}

.btn {
    width: 100;
    background-color: #B7152F;
    color: white;
}
