.nav-item {
    border-left-color: #B7152F;
    border-left-width: 24;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
    font-family: "Antonio-Regular";
}