.nav-item,
.nav-item-logout {
  border-left-color: #b7152f;
  border-left-width: 24;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
  font-family: "Antonio-Regular";
}

.nav-item-logout{
  border-left-color: white;
  background-color: #b7152f;
}

.item-logout {
  color: white;
  font-family: "Antonio-Regular";
}

.icon {
  color: white;
}
