.nav-item,
.nav-item-logout {
  border-left-color: #b7152f;
  border-left-width: 24;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item,
.name,
.section {
  font-family: "Antonio-Regular";
}

.name,
.section {
  font-size: 15;
  text-transform: uppercase;
}

.nav-item-logout {
  border-left-color: white;
  background-color: #b7152f;
}

.item-logout {
  color: white;
  font-family: "Antonio-Regular";
}

.icon {
  color: white;
}

.rectangle {
  width: 3;
  height: auto;
  margin-right: 10;
  background-color: #b7152f;
}

.header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
