<ScrollView>
    <StackLayout>
  
      <GridLayout>
        <Label class="fas p-10 h2 nav-button" text="&#xf0c9;"></Label>
        <StackLayout class="top">
          <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="top-img"> </Image>
        </StackLayout>
  
        <StackLayout class="section-1">
          <Image class="nt-drawer__header-image fas prof-img" src="font://&#xf2bd;"></Image>
          <Label text="Full Name" textWrap="true" class="m-b-30 h1 prof-name"></Label>
        </StackLayout>
      </GridLayout>
  
      <FlexboxLayout flexDirection="column" class="main-content">
  
        <GridLayout rows="auto, auto" columns="auto, *, *">
          <!-- Late and Pending Sections -->
          <StackLayout class="p-10 m-x-10 m-y-10 task-late" row="0" col="0">
            <Label text="Late Tasks:" class="h3" textWrap="true"></Label>
            <Label text="10" class="h2" textWrap="true"></Label>
          </StackLayout>
          <StackLayout class="p-10 m-x-10 m-y-10 task-pending" row="1" col="0">
            <Label text="Pending Tasks:" class="h3" textWrap="true"> </Label>
            <Label text="10" class="h2" textWrap="true"></Label>
          </StackLayout>
  
          <!-- Personal Information, Account Type, Viewing of Reg Form -->
          <StackLayout class="p-10 m-x-10 m-y-10 info" col="1" colSpan="2">
            <Label text="My Personal Information" class="h2" textWrap="true"></Label>
            <Label text="Full Name:" textWrap="true"></Label>
            <Label text="Course:" textWrap="true"></Label>
            <Label text="Email:" textWrap="true"></Label>
            <Label text="Section:" textWrap="true"></Label>
            <Label text="Contact Number:" textWrap="true"></Label>
          </StackLayout>
          <StackLayout class="p-10 m-x-10 m-y-10 info" col="1" row="1">
            <Label text="Account &#xa;Type: &#xa;" textWrap="true" class="h3"></Label>
            <Label text="Student" textWrap="true" class="h1 num"></Label>
          </StackLayout>
          <StackLayout class="p-10 m-x-10 m-y-10 info" col="2" row="1">
            <Label text="View &#xa;Registration Form: &#xa;" textWrap="true" class="h3"></Label>
            <Label text="&#xf0c5;" textWrap="true" class="fas h1"></Label>
          </StackLayout>
        </GridLayout>
  
        <FlexboxLayout flexDirection="column">
          <Button class="btn btn-primary p-r-10 change" (tap)="onChange()">
            <FormattedString>
              <Span text="&#xf023; " textWrap="true" class="m-t-1 p-10 fas"></Span>
              <Span text="Change Password" textWrap="true" class="change-pass"></Span>
            </FormattedString>
          </Button>
          <Button class="btn btn-primary edit" text="Edit My Profile" (tap)="onEdit()" >
            <FormattedString>
              <Span text="&#xf304; " textWrap="true" class="m-t-1 p-10 fas"></Span>
              <Span text="Edit My Profile" textWrap="true" class="edit-profile"></Span>
            </FormattedString>
          </Button>
          <Button class="btn btn-primary del m-t-20" text="Delete Account" (tap)="onDel($event)">
            <FormattedString>
              <Span text="&#xf2ed; " textWrap="true" class="m-t-1 p-10 fas"></Span>
              <Span text="[WARNING] " style="color: red;" textWrap="true" class="h3 delete-acc"></Span>
              <Span text="Delete Account" textWrap="true" class="delete-acc"></Span>
            </FormattedString>
          </Button>
        </FlexboxLayout>
  
      </FlexboxLayout>
    </StackLayout>
  </ScrollView>