<FlexboxLayout flexDirection="column">
  <StackLayout height="500">
    <GridLayout>
      <StackLayout class="top">
        <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="top-img">
        </Image>
      </StackLayout>
      <Label class="h2 fas p-10 nav-button" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
      <StackLayout class="section-1">
        <Label text="My Tasks" textWrap="true" class="p-10 h1 title"></Label>
        <Label text="{{ dateToday | date }}" textWrap="true" class="p-10 h2 date"></Label>
      </StackLayout>
    </GridLayout>
  </StackLayout>

  <GridLayout class="page__content">
    <TabView selectedTabTextColor="white" androidSelectedTabHighlightColor="red" androidTabsPosition="bottom">

      <StackLayout *tabItem="{ iconSource: 'res://home' }">
        <ScrollView height="1000" *ngIf="myTasks">
          <StackLayout class="task" *ngIf="userDetails.verified == 'Not Verified'">
            <!-- <FlexboxLayout class="m-b-5 p-10" (tap)="onDetails(task.taskId)" *ngIf="verificationTask as task"> -->
            <FlexboxLayout class="m-b-5 p-10" *ngIf="verificationTask as task">
              <GridLayout columns="*,auto">
                <FlexboxLayout col="0">
                  <Label text="" textWrap="true" class="rectangle-pending"></Label>
                  <StackLayout>
                    <Label text="{{ task.title }}" textWrap="true" class="task-details"></Label>
                    <Label text="Term: {{ task.term }}" textWrap="true" class="task-deadline"></Label>
                  </StackLayout>
                </FlexboxLayout>
                <Label text="&#xf017;" textWrap="true" class="fas h2 icon-pending" col="2" colSpan="2"
                ></Label>
              </GridLayout>
            </FlexboxLayout>
          </StackLayout>
          <StackLayout class="task" *ngIf="userDetails.verified == 'Not Verified'">
            <FlexboxLayout class="m-b-5 p-10" (tap)="onDetails(task.taskId)" *ngFor="let task of myTasks">
              <GridLayout columns="*,auto">
                <FlexboxLayout col="0">
                  <Label text="" textWrap="true" class="rectangle-late" *ngIf="task.status == 'Late'"></Label>
                  <Label text="" textWrap="true" class="rectangle-pending" *ngIf="task.status == 'Pending'"></Label>
                  <Label text="" textWrap="true" class="rectangle-approval"
                    *ngIf="task.status == 'For Approval'"></Label>
                  <Label text="" textWrap="true" class="rectangle-ok" *ngIf="task.status == 'Accomplished'"></Label>
                  <StackLayout>
                    <Label text="{{ task.title }}" textWrap="true" class="task-details"></Label>
                    <Label text="Deadline: {{ task.deadline | date }}" textWrap="true" class="task-deadline"></Label>
                  </StackLayout>
                </FlexboxLayout>

                <Label text="&#xf12a;" textWrap="true" class="fas h2 icon-late" col="2" colSpan="2"
                  *ngIf="task.status == 'Late'"></Label>
                <Label text="&#xf017;" textWrap="true" class="fas h2 icon-pending" col="2" colSpan="2"
                  *ngIf="task.status == 'Pending'"></Label>
                <Label text="&#xf254;" textWrap="true" class="fas h2 icon-approval" col="2" colSpan="2"
                  *ngIf="task.status == 'For Approval'"></Label>
                <Label text="&#xf00c;" textWrap="true" class="fas h2 icon-ok" col="2" colSpan="2"
                  *ngIf="task.status == 'Accomplished'"></Label>
              </GridLayout>
            </FlexboxLayout>
          </StackLayout>
        </ScrollView>
      </StackLayout>

      <StackLayout *tabItem="{ iconSource: 'res://pending' }">
        <ScrollView height="1000" *ngIf="myPendingTasks">
          <StackLayout *ngIf="userDetails.verified == 'Enrolled'">
            <FlexboxLayout class="m-b-5 p-10 task" (tap)="onDetails(pending.taskId)"
              *ngFor="let pending of myPendingTasks">
              <GridLayout columns="*,auto">
                <FlexboxLayout col="0">
                  <Label text=" " textWrap="true" class="rectangle-pending"></Label>
                  <StackLayout>
                    <Label text="{{ pending.title }}" textWrap="true" class="task-details"></Label>
                    <Label text="Deadline: {{ pending.deadline | date }} " textWrap="true" class="task-deadline"></Label>
                  </StackLayout>
                </FlexboxLayout>
                <Label text="&#xf017;" textWrap="true" class="fas h2 icon-pending " col="2" colSpan="2"></Label>
              </GridLayout>
            </FlexboxLayout>
          </StackLayout>
        </ScrollView>
      </StackLayout>

      <StackLayout *tabItem="{ iconSource: 'res://exclamationmark' }">
        <ScrollView height="1000" *ngIf="myLateTasks">
          <StackLayout *ngIf="userDetails.verified == 'Enrolled'">
            <FlexboxLayout class="m-b-5 p-10 task" (tap)="onDetails(late.taskId)" *ngFor="let late of myLateTasks"> 
              <GridLayout columns="*,*">
                <FlexboxLayout col="0">
                  <Label text=" " textWrap="true" class="rectangle-late"></Label>
                  <StackLayout>
                    <Label text="{{ late.title }}" textWrap="true" class="task-details"></Label>
                    <Label text="Deadline: {{ late.deadline | date }} " textWrap="true" class="task-deadline"></Label>
                  </StackLayout>
                </FlexboxLayout>
                <Label text="&#xf12a;" textWrap="true" class="fas h2 icon-late " col="2" colSpan="2"></Label>
              </GridLayout>
            </FlexboxLayout>
          </StackLayout>
        </ScrollView>
      </StackLayout>

      <StackLayout *tabItem="{ iconSource: 'res://glass' }">
        <ScrollView height="1000" *ngIf="myForApprovalTasks">
          <StackLayout *ngIf="userDetails.verified == 'Enrolled'">
            <FlexboxLayout class="m-b-5 p-10 task" (tap)="onDetails(forApproval.taskId)" *ngFor="let forApproval of myForApprovalTasks">
              <GridLayout columns="*,*">
                <FlexboxLayout col="0">
                  <Label text=" " textWrap="true" class="rectangle-approval"></Label>
                  <StackLayout>
                    <Label text="{{ forApproval.title }}" textWrap="true" class="task-details"></Label>
                    <Label text="Deadline: {{ forApproval.deadline | date }} " textWrap="true" class="task-deadline"></Label>
                  </StackLayout>
                </FlexboxLayout>
                <Label text="&#xf254;" textWrap="true" class="fas h2 icon-approval " col="2" colSpan="2"></Label>
              </GridLayout>
            </FlexboxLayout>
          </StackLayout>
        </ScrollView>
      </StackLayout>

      <StackLayout *tabItem="{ iconSource: 'res://check' }">
        <ScrollView height="1000" *ngIf="myAccomplishedTasks">
          <StackLayout *ngIf="userDetails.verified == 'Enrolled'">
            <FlexboxLayout class="m-b-5 p-10 task" (tap)="onDetails(accomplished.taskId)" *ngFor="let accomplished of myAccomplishedTasks">
              <GridLayout columns="*,*">
                <FlexboxLayout col="0">
                  <Label text=" " textWrap="true" class="rectangle-ok"></Label>
                  <StackLayout>
                    <Label text="{{ accomplished.title }}" textWrap="true" class="task-details"></Label>
                    <Label text="Deadline: {{ accomplished.deadline | date }} " textWrap="true" class="task-deadline"></Label>
                  </StackLayout>
                </FlexboxLayout>
                <Label text="&#xf00c;" textWrap="true" class="fas h2 icon-ok " col="2" colSpan="2"></Label>
              </GridLayout>
            </FlexboxLayout>
          </StackLayout>
        </ScrollView>
      </StackLayout>
    </TabView>
  </GridLayout>
</FlexboxLayout>