<!-- <Label class="Forgot-Password" text="Hello ForgotPasswordComponent!"></Label> -->
<StackLayout>
<StackLayout>
    <FlexboxLayout class="page">
        <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="bg-image"></Image>
    </FlexboxLayout>
</StackLayout>

<StackLayout>
    <ScrollView>
        <FlexboxLayout class="form">
            <StackLayout class="backNavigation">
                <GridLayout columns="auto, *, auto" rows="auto, auto">
                    <Label text="&#xf053;" class="fas"></Label>
                    <Label text="Back" class="nav-back" (tap)="tapBack()"></Label>
                </GridLayout>
                <Image class="logo" src="~/app/images/logo.png"></Image>
                <Label class="header" text="Having trouble logging in?"></Label>
                <Label class="header-forgotPassword" text="Forgot Password"></Label>
    
                <form [formGroup]="loginForm">
                <StackLayout class="input-field">
    
                    <!-- <Label text="Use your UST account email" *ngIf="loginForm.controls._email.errors?.pattern" class="validation-error"></Label> -->
    
                    <Label text="This field is Required" *ngIf="loginForm.controls._email.errors?.required && loginForm.controls._email.touched" class="validation-error"></Label>
    
                    <GridLayout columns="360, *, auto" rows="auto, 1" colspan="2">
                        <Label text="Email" class="email-text"></Label>
                        <TextField class="input" hint="Enter your email:" colspan="2" formControlName="_email"></TextField>
                        <Label class="fas" text="&#xf2bd;" colspan="2"></Label>
                    </GridLayout>
                </StackLayout>
    
    
                <Button text="Submit" class="btn-submit" *ngIf="loginForm.valid" (tap)="tapSubmit()"></Button>
                <Button text="Submit" *ngIf="loginForm.invalid" class="btn-submit-disabled" (tap)="tapSubmit()"></Button>
    
                <StackLayout orientation="horizontal" class="m-y-30 cics">
                    <Image src="~/app/images/logo.png" class="logo-btm"></Image>
                    <Label text="" textWrap="true" class="m-x-10 rectangle"></Label>
                    <Image src="~/app/images/cics.png" class="logo-btm"></Image>
                </StackLayout>
            </form>
            </StackLayout>
        </FlexboxLayout>
    </ScrollView>
</StackLayout>
</StackLayout>
