/* /* .Forgot-Password {

} */

.page {
    flex-direction: column;
    background-color: #B7152F;
    background-position: center;
}
.bg-image {
    opacity: .3
}
/* .fas {
    horizontal-align: right;
    margin-right: 35;
    font-size: 18;
} */
.form {
    margin-left: 23;
    margin-right: 23;
    margin-top: 10;
    margin-bottom: 5;
    flex-direction: column;
    vertical-align: middle;
    background-color: white;
}
.btn-back {
    background-color: #B7152F;
    color: white;
    width: 50;
    height: 40;
    horizontal-align: left;
    margin-top: -3;
    margin-left: 1;

}
.logo {
    margin-top: 10;
    margin-bottom: 12;
    font-weight: bold;

    height: 120;
    horizontal-align: left;
}

.header {
    font-size: 20;
    margin-left: 20;
    font-family: Abel;

}
.header-forgotPassword {
    font-size: 40;
    margin-bottom: 60;
    margin-left: 20;
    font-family: Antonio-SemiBold;
}
.email-text {
    margin-left: 35;
    font-family: Abel-Regular;
    font-size: 17;
    margin-bottom: -15;
}
.icon-user {

}
.input-field {
    margin-bottom: 10;
    padding-top: 10;
    padding-bottom: 60;

}
.input {
    font-size: 13;
    placeholder-color: #A8A8A8;
    padding-top: 10;
    margin-left: 35;
    margin-right: 35;

}
.btn-submit {
    background-color: #B7152F;
    color: white;
    padding: 10 10 10 10;
    margin-bottom: 70;
    margin-left: 45;
    margin-right: 45;

}

