<!-- <Label class="Forgot-Password" text="Hello ForgotPasswordComponent!"></Label> -->

<FlexboxLayout class="page">
    <StackLayout class="form">


        <Button text="Back" class="btn-back" [nsRouterLink]="['/login']"></Button>
        <Label class="header" text="Having throuble logging in?"></Label>
        <Label class="header-login" text="Forgot Password"></Label>


        <StackLayout class="input-field">
            <TextField class="input" hint="Enter your email" [(ngModel)]="_email"></TextField>
        </StackLayout>

        <Button text="Submit" class="btn-submit" (tap)="tapSubmit()"></Button>



    </StackLayout>
</FlexboxLayout>
