.validation-error {
  font-size: 9;
  color: red;
  margin-left: 45;
}

.page {
  flex-direction: column;
  background-color: #b7152f;
  background-position: center;
}
.bg-image {
  opacity: 0.3;
}
.fas {
  font-size: 17;
  margin-right: 35;
  horizontal-align: right;
  margin-top: 15;
  padding-right: 10;
}
.form {
  margin-left: 23;
  margin-right: 23;
  margin-top: 10;
  margin-bottom: 5;
  flex-direction: column;
  vertical-align: middle;
  background-color: white;
}
/* .btn-back {
    background-color: #B7152F;
    color: white;
    width: 50;
    height: 40;
    horizontal-align: left;
    margin-top: -3;
    margin-left: 1;

} */
.nav-back {
  color: black;
  horizontal-align: left;
  margin-left: 45;
  font-size: 17;
  font-family: Abel;
  padding-top: 10;
  padding-bottom: 15;
  margin-top: 3;
}
.logo {
  margin-top: 10;
  margin-bottom: 12;
  font-weight: bold;

  height: 120;
  horizontal-align: left;
}

.header {
  font-size: 20;
  margin-left: 25;
  font-family: Abel;
}
.header-forgotPassword {
  font-size: 40;
  margin-bottom: 60;
  margin-left: 25;
  font-family: Antonio-SemiBold;
}
.email-text {
  margin-left: 45;
  font-family: Abel-Regular;
  font-size: 17;
  margin-bottom: -11;
}

.input-field {
  margin-bottom: 10;
  padding-top: 10;
  padding-bottom: 60;
}
.input {
  font-size: 13;
  placeholder-color: #a8a8a8;
  padding-top: 15;
  margin-left: 45;
  margin-right: 45;
  font-family: Abel-Regular;
}
.btn-submit {
  background-color: #b7152f;
  color: white;
  padding: 10 10 10 10;
  margin-bottom: 70;
  margin-left: 45;
  margin-right: 45;
  font-family: Antonio-Regular;
}
.btn-submit-disabled {
  background-color: #eb4662;
  color: white;
  padding: 10 10 10 10;
  margin-bottom: 70;
  margin-left: 45;
  margin-right: 45;
  font-family: Antonio-Regular;
  font-size: 20;
}

.cics {
  color: #a8a8a8;
  vertical-align: middle;
  horizontal-align: center;
}

.cics,
.cics-label {
  font-family: "Abel-Regular";
}
.cics-label {
  text-transform: uppercase;
}

.logo-btm {
  width: 30;
  height: 30;
}

.cics .rectangle {
  width: 0.5;
  background: gray;
}
