<!-- <Label class="Forgot-Password" text="Hello ForgotPasswordComponent!"></Label> -->

<FlexboxLayout class="page">
    <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="bg-image"></Image>
</FlexboxLayout>

<FlexboxLayout class="form">
    <StackLayout class="backNavigation">
    <GridLayout columns="auto, *, auto" rows="auto, auto" >
        <Label text="&#xf053;" class="fas"></Label>
        <Label text="Back" class="nav-back" (tap)="tapBack()"></Label>
    </GridLayout>
        <Image class="logo" src="~/app/images/logo.png"></Image>
        <Label class="header" text="Having throuble logging in?"></Label>
        <Label class="header-forgotPassword" text="Forgot Password"></Label>


        <StackLayout class="input-field">
            <!-- <Label *ngIf="emailError" text= "{{emailError}}" class="login-error" ></Label> -->
            <GridLayout columns="360, *, auto" rows="auto, 1" colspan="2" >
            <Label text="Email" class="email-text" ></Label>
            <TextField class="input" hint="Enter your email:" colspan="2" [(ngModel)]="_email"></TextField>
            <Label class="fas"  text="&#xf2bd;" colspan="2" ></Label>
            </GridLayout>
        </StackLayout>


        <Button text="Submit" class="btn-submit" (tap)="tapSubmit()"></Button>

    </StackLayout>
</FlexboxLayout>

