<StackLayout>
    <FlexboxLayout class="page">
        <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="bg-image"></Image>
    </FlexboxLayout>
    
    <FlexboxLayout class="form">
    
    <StackLayout class="backNavigation">
        <GridLayout columns="auto, *, auto" rows="auto, auto" >
        <Label text="&#xf053;" class="fas"></Label>
        <Label text="Back" class="nav-back" (tap)="tapBack()"></Label>
    </GridLayout>
    
        <Image class="logo" src="~/app/images/logo.png"></Image>
        <Label class="header" text="Change Your"></Label>
        <Label class="header-password" text="Password"></Label>
    
    
    <StackLayout class="input-field">
    <GridLayout columns="360, *, auto" rows="auto, 1" colspan="2" >
        <Label text="Enter New Password" class="New-Password-text"></Label>
        <TextField class="input" hint="Enter your new password" secure="True" colspan="2" [(ngModel)]="_newPassword"></TextField>
        <Label class="fas"  text="&#xf2bd;" colspan="2" ></Label>
        <StackLayout class="hr-light"></StackLayout>
    </GridLayout>
    
    <GridLayout columns="360, *, auto" rows="auto, 1" colspan="2" >
        <Label text="Confirm New Password" class="Confirm-New-Password-text"></Label>
        <TextField class="input" hint="Confirm your new password" secure="True" colspan="2" [(ngModel)]="_confirmNewPassword"></TextField>
        <Label class="fas"  text="&#xf2bd;" colspan="2" ></Label>
        <StackLayout class="hr-light"></StackLayout>
    </GridLayout>
    </StackLayout>
    
        <button text="Submit" class="btn-changePass" (tap)="tapChangepass()"></button>
    <StackLayout class = "bottom-spacing"></StackLayout>
    
    </StackLayout>
    </FlexboxLayout>
    
</StackLayout>

<!-- Back Button => (tap)="tapReturn()" -->
<!-- ConfirmPass Button => (tap)="tapConfirmPass()" -->


