/* .confirm-new-password {

} */

.page {
    background-position: center;
    flex-direction: column;
    background-color: #B7152F;

}
.bg-image {
    opacity: .3;
}
.form {
    margin-left: 23;
    margin-right: 23;
    margin-top: 10;
    margin-bottom: 8;
    opacity: 1;
    flex-direction: column;
    vertical-align: middle;
    background-color: white;
    /* height: 600; */
}

.button-back {
    width: 50;
    height: 40;
    background-color: #B7152F;
    color: white;
    margin-top: -3;
    horizontal-align: left;
    margin-left: 1;
}
.logo {
    margin-bottom: 12;
    font-weight: bold;
    horizontal-align: left;
    margin-top: 10;
    height: 120;
}
.header {
    font-size: 20;
    margin-left: 20;
    font-family: Abel-Regular;

}
.header-password {
    font-size: 40;
    margin-bottom: 40;
    margin-left: 20;
    font-family: Antonio-SemiBold;
}
/* .input-field {
    margin-bottom: 10;
    padding-top: 5;
    padding-bottom: -5;

} */
.New-Password-text {
    margin-left: 35;
    font-family: Abel-Regular;
    font-size: 15;
    margin-bottom: -12;
}
.Confirm-New-Password-text {
    margin-left: 35;
    font-family: Abel-Regular;
    font-size: 15;
    margin-bottom: -12;
}
.input-field {
    margin-bottom: 10;
    padding-top: 10;
    padding-bottom: 10;

}
.input {
    font-size: 13;
    placeholder-color: #A8A8A8;
    padding-top: 10;
    font-family: Abel-Regular;
    margin-left: 35;
    margin-right: 35;

}
.btn-changePass {
    margin: 55 55 15 55;
    background-color: #B7152F;
    font-size: 20;
    color: white;
    font-family: Antonio-Regular;
}


