<FlexboxLayout class="page">
    <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="bg-image"></Image>
</FlexboxLayout>

<FlexboxLayout class="form">
<StackLayout>
    <Button text="Back" class="button-back" ></Button>
    <Image class="logo" src="~/app/images/logo.png"></Image>
    <Label class="header" text="Change Your"></Label>
    <Label class="header-password" text="Password"></Label>


<StackLayout class="input-field">
    <Label text="Enter New Password" class="New-Password-text"></Label>
    <TextField class="input" hint="Enter your new password" secure="True" [(ngModel)]="_newPassword"></TextField>
    <StackLayout class="hr-light"></StackLayout>
</StackLayout>


<StackLayout class="input-field">
    <Label text="Confirm New Password" class="Confirm-New-Password-text"></Label>
    <TextField class="input" hint="Confirm your new password" secure="True" [(ngModel)]="_confirmNewPassword"></TextField>
    <StackLayout class="hr-light"></StackLayout>

</StackLayout>

    <button text="Submit" class="btn-changePass" (tap)="tapChangepass()"></button>

</StackLayout>
</FlexboxLayout>


<!-- Back Button => (tap)="tapReturn()" -->
<!-- ConfirmPass Button => (tap)="tapConfirmPass()" -->


