.validation-error {
  font-size: 9;
  color: red;
  margin-left: 40;
}
.page {
  flex-direction: column;
  background-color: #b7152f;
  background-position: center;
}
.bg-image {
  opacity: 0.3;
}
.form {
  margin-left: 23;
  margin-right: 23;
  margin-top: 15;
  margin-bottom: 5;
  opacity: 1;
  vertical-align: middle;
  background-color: white;
  flex-direction: column;
}

.nav-back {
  color: black;
  margin-left: 45;
  font-size: 17;
  margin-top: 3;
  padding-top: 10;
  padding-bottom: 15;
  font-family: Abel;
}

.fas {
  font-size: 17;
  margin-right: 35;
  horizontal-align: right;
  margin-top: 15;
}
.header {
  font-size: 20;
  margin-left: 30;
  horizontal-align: left;
  padding-bottom: -3;
  padding-top: 50;
  font-family: Abel;
}
.header-registration {
  font-size: 40;
  margin-bottom: 10;
  horizontal-align: left;
  margin-left: 30;
  margin-bottom: 20;
  font-family: Antonio-SemiBold;
}
.input-field {
    margin-bottom: 2;
    padding-top: 5;
    margin-top: 10;
    padding-bottom: 5;
    padding-top: 5;
}

.input {
  font-size: 13;
  placeholder-color: #a8a8a8;
  font-family: Abel-Regular;
  padding-top: 18;
  margin-left: 40;
  margin-right: 40;
  padding-bottom: 0;
  margin-bottom: 30;
}
.email-text {
  margin-left: 40;
  font-family: Abel-Regular;
  font-size: 15;
  margin-bottom: -15;
}
.FullName-text {
  margin-left: 40;
  font-family: Abel-Regular;
  font-size: 15;
  margin-bottom: -15;
}
.contactNum-text {
  margin-left: 40;
  font-family: Abel-Regular;
  font-size: 15;
  margin-bottom: -15;
}
.password-text {
  margin-left: 40;
  font-family: Abel-Regular;
  font-size: 15;
  margin-bottom: -15;
}
.confirmPass-text {
  margin-left: 40;
  font-family: Abel-Regular;
  font-size: 15;
  margin-bottom: -15;
}

.btn-registrationButton {
  margin-left: 55;
  margin-right: 55;
  background-color: #b7152f;
  padding: 10 10 10 10;
  font-size: 20;
  font-weight: 400;
  color: white;
  margin-bottom: 80;
  margin-top: 30;
  font-family: Antonio-Regular;
}
.btn-registrationButton-disable {
  margin-left: 55;
  margin-right: 55;
  background-color: #eb4662;
  padding: 10 10 10 10;
  font-size: 20;
  font-weight: 400;
  color: white;
  margin-bottom: 80;
  margin-top: 30;
  font-family: Antonio-Regular;
}
.login-label {
  color: #a8a8a8;
  horizontal-align: center;
}
.login-error {
  font-size: 11;
  color: red;
  margin-left: 40;
  margin-top: -20;
}
.login-error-email {
  font-size: 11;
  color: red;
  margin-left: 40;
}

.cics {
  color: #a8a8a8;
  vertical-align: middle;
  horizontal-align: center;
}

.cics,
.cics-label {
  font-family: "Abel-Regular";
}
.cics-label {
  text-transform: uppercase;
}

.logo-btm {
  width: 30;
  height: 30;
}

.cics .rectangle {
  width: 0.5;
  background: gray;
}
