<StackLayout>
<!-- <StackLayout>
    <FlexboxLayout class="page">
        <Image src="~/app/images/USTBackground.png" stretch="aspectFill" class="bg-image"></Image>
    </FlexboxLayout>
</StackLayout> -->

<StackLayout>
    <ScrollView>
        <StackLayout>
            <FlexboxLayout class="form">
                <StackLayout class="backNavigation">
                    <GridLayout columns="auto, *, auto" rows="auto, auto">
                        <Label text="&#xf053;" class="fas"></Label>
                        <Label text="Back" class="nav-back" (tap)="tapBack()"></Label>
        
                    </GridLayout>
                </StackLayout>
        
        
                <StackLayout>
                    <Label class="header" text="Proceed with your"></Label>
                    <Label class="header-registration" text="Registration"></Label>
        
                    <form [formGroup]="loginForm" class="m-t-10">
                            <StackLayout class="input-field">
        
                                <!-- <Label text="Use your UST account email" *ngIf="loginForm.controls._email.errors?.pattern" class="validation-error"></Label> -->
        
                                <Label text="This Field is Required"
                                    *ngIf="loginForm.controls._email.errors?.required && loginForm.controls._email.touched"
                                    class="validation-error"></Label>
                                    <TextField class="input" hint="Enter your email:" formControlName="_email" colspan="2">
                                    </TextField>
                                <!-- <GridLayout columns="*, *" rows="auto, auto" colspan="2" class="m-y-10">
                                    <Label class="email-text" ></Label>
                                    <TextField class="input" hint="Enter your email:" formControlName="_email" colspan="2">
                                    </TextField>
                                    <StackLayout class="hr-light"></StackLayout>
                                    <Label class="fas" text="&#xf2bd;" colspan="2"></Label>
                                </GridLayout>
         -->
                                <Label text="This Field is Required"
                                    *ngIf="loginForm.controls._fullName.errors?.required && loginForm.controls._fullName.touched"
                                    class="validation-error"></Label>
                                    <TextField class="input" hint="Enter your Fullname:" formControlName="_fullName"
                                    colspan="2">
                                </TextField>
        <!--
                                <GridLayout columns="*, *, auto" rows="auto, 1" colspan="2">
                                    <Label class="FullName-text"></Label>
                                    <Label class="fas" text="&#xf2bd;" colspan="2"></Label>
                                    <TextField class="input" hint="Enter your Fullname:" formControlName="_fullName"
                                        colspan="2">
                                    </TextField>
                                    <StackLayout class="hr-light"></StackLayout>
                                </GridLayout> -->
        
                                <Label text="This Field is Required"
                                    *ngIf="loginForm.controls._contactNumber.errors?.required && loginForm.controls._contactNumber.touched "
                                    class="validation-error"></Label>
                                    <TextField class="input" hint="Enter your Contact Number:" formControlName="_contactNumber"
                                    colspan="2">
                                </TextField>
                                <!-- <GridLayout columns="auto, *, auto" rows="auto, 1" colspan="2">
                                    <Label class="contactNum-text"></Label>
                                    <Label class="fas" text="&#xf2bd;" colspan="2"></Label>
                                    <TextField class="input" hint="Enter your Contact Number:" formControlName="_contactNumber"
                                        colspan="2">
                                    </TextField>
                                    <StackLayout class="hr-light"></StackLayout>
                                </GridLayout> -->
        
                                <Label text="This Field is Required"
                                    *ngIf="loginForm.controls._password.errors?.required && loginForm.controls._password.touched"
                                    class="validation-error"></Label>
                                    <TextField #passwordField class="input" hint="Enter your password" secure="true"
                                    formControlName="_password" colspan="2"></TextField>
                                <!-- <GridLayout columns="auto, *, auto" rows="auto, 1" colspan="2">
                                    <Label class="password-text"></Label>
                                    <TextField #passwordField class="input" hint="Enter your password" secure="true"
                                        formControlName="_password" colspan="2"></TextField>
                                    <Label class="fas" text="&#xf06e;" colspan="2" *ngIf="!isToggled"
                                        (tap)="toggleShow()"></Label>
                                    <Label class="fas" text="&#xf070;" colspan="2" *ngIf="isToggled"
                                        (tap)="toggleShow()"></Label>
                                    <StackLayout class="hr-light"></StackLayout>
                                </GridLayout> -->
        
                                
                                <!-- <GridLayout columns="auto, *, auto" rows="auto, 1" colspan="2">
                                    <Label text="Confirm Password" class="confirmPass-text"></Label>
                                    <TextField #confirmPasswordField class="input" secure="True" hint="Confirm your Password"
                                        colspan="2"></TextField>
                                    <Label class="fas" text="&#xf06e;" colspan="2" *ngIf="!isConfirmToggled"
                                        (tap)="confirmToggleShow()"></Label>
                                    <Label class="fas" text="&#xf070;" colspan="2" *ngIf="isConfirmToggled"
                                        (tap)="confirmToggleShow()"></Label>
                                    <StackLayout class="hr-light"></StackLayout>
                                </GridLayout> -->
                                <StackLayout class="form-spacing"></StackLayout>
                            </StackLayout>
        
        
                        <button text="Sign Up" *ngIf="loginForm.valid" class="btn-registrationButton"
                            (tap)="tapRegister()"></button>
                        <button text="Sign Up" *ngIf="loginForm.invalid" class="btn-registrationButton-disable"
                            (tap)="tapRegister()"></button>
        
                        <StackLayout orientation="horizontal" class="m-y-10 cics">
                            <Image src="~/app/images/logo.png" class="logo-btm"></Image>
                            <Label text="" textWrap="true" class="m-x-10 rectangle"></Label>
                            <Image src="~/app/images/cics.png" class="logo-btm"></Image>
                        </StackLayout>
        
                    </form>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>
        
    </ScrollView>
</StackLayout>
</StackLayout>
