<StackLayout class="main-content">
    <FlexboxLayout>
        <Label text="&#xf023;" textWrap="true" class="fas h3 m-t-10 m-r-10 p-10"></Label>
        <Label text="Change Password" textWrap="true" class="m-t-10 h2"></Label>
    </FlexboxLayout>
    <Label text="Edit your password" textWrap="true" class="m-y-10 placeholder"></Label>
    <TextField hint="Old Password" secure="True" class="h3"></TextField>
    <TextField hint="New Password" secure="True" class="h3"></TextField>
    <TextField hint="Confirm New Password" secure="True" class="h3"></TextField>
    <Button class="btn btn-primary" text="Update Password" (tap)="onUpdate()" horizontalAlignment="right"></Button>
</StackLayout>